<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bakirgdev.CrocApp.transfer</string>
		<string>com.bakirgdev.CrocApp.transfer.*</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_crocapp._tcp</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
